### Property Recommendation System

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

In [4]:
with open('appraisals_dataset.json', 'r') as f:
    data = pd.read_json(f)
print("Data shape:", data.shape)
print("Data head:\n", data.head())

Data shape: (88, 1)
Data head:
                                           appraisals
0  {'orderID': '4762597', 'subject': {'address': ...
1  {'orderID': '4762739', 'subject': {'address': ...
2  {'orderID': '4763065', 'subject': {'address': ...
3  {'orderID': '4763086', 'subject': {'address': ...
4  {'orderID': '4763087', 'subject': {'address': ...

In [7]:
df = pd.json_normalize(data['appraisals'].tolist())
df.to_csv('appraisals.csv', index=False)
df = pd.read_csv('appraisals.csv')
print("Data shape:", df.shape)
display(df.head())

Data shape: (88, 38)

,orderID,comps,properties,subject.address,subject.subject_city_province_zip,subject.effective_date,subject.municipality_district,subject.site_dimensions,subject.lot_size_sf,subject.units_sq_ft,...,subject.room_count,subject.num_beds,subject.room_total,subject.main_lvl_area,subject.second_lvl_area,subject.third_lvl_area,subject.gla,subject.subject_age,subject.num_baths,subject.condition
0,4762597,"[{'distance_to_subject': '0.15 KM', 'prop_type...","[{'id': 367, 'address': '463 Conservatory Dr',...",142-950 Oakview Ave Kingston ON K7M 6W8,"""Twin Oak Meadows""",Apr/11/2025,Kingston,Condo Common Property,NaN,SqFt,...,6.0,3,6.0,522,522.0,NaN,1044,49,1:1,Average
1,4762739,"[{'distance_to_subject': '3.73 KM', 'prop_type...","[{'id': 297301, 'address': '638 Myers Point Ro...",7180 207 HWY Halifax NS B0J2L0,"West Chezzetcook, NS B0J2L0",Apr/17/2025,Halifax Regional Municipality - West Chezzetcook,See Schedule A and or Plot Map,72745+/-SqFt,SqFt,...,6.0,3,6.0,1060,440.0,NaN,1500 SqFt,14+/-yrs,2:1,Average
2,4763065,"[{'distance_to_subject': '0.31 KM', 'prop_type...","[{'id': 116134, 'address': '246 Waterbrook Lan...",11 PAUL AVE Ayr ON N0B1E0,Ayr ON N0B1E0,May/01/2025,"Township of North Dumfries, Region of Waterloo",131' x 154',20174 SqFt,SqFt,...,9.0,4,9.0,1660,1340.0,NaN,3000 SqFt,42,2:1,Average
3,4763086,"[{'distance_to_subject': '0.78 KM', 'prop_type...","[{'id': 1849, 'address': '501 CLOTHIER Street ...",102 Stonewalk Dr Kemptville ON K0G 1J0,Kemptville ON K0G 1J0,Apr/15/2025,"North Grenville, Ontario",176.38 F x Irregular,1.25 Acres,Acres,...,5.0,2,5.0,NaN,NaN,NaN,1283 SqFt,2012 +/-,3:0,Good
4,4763087,"[{'distance_to_subject': '0.00 KM', 'prop_type...","[{'id': 293769, 'address': '3 Apollo Court', '...",407 105 Dunbrack St Halifax NS B3M3G7,Halifax NS B3M3G7,Apr/17/2025,Halifax Regional Municipality - Halifax,CONDO - N/A,NaN,NaN,...,6.0,3,6.0,1530,NaN,NaN,1530 SqFt,47+/-yrs,2:0,Average

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   orderID                            88 non-null     int64
 1   comps                              88 non-null     object
 2   properties                         88 non-null     object
 3   subject.address                    88 non-null     object
 4   subject.subject_city_province_zip  88 non-null     object
 5   subject.effective_date             88 non-null     object
 6   subject.municipality_district      87 non-null     object
 7   subject.site_dimensions            88 non-null     object
 8   subject.lot_size_sf                78 non-null     object
 9   subject.units_sq_ft                83 non-null     object
 10  subject.year_built                 87 non-null     object
 11  subject.structure_type             87 non-null     object
 12  subject.roofing                    87 non-null     object
 13  subject.effective_age              87 non-null     object
 14  subject.style                      88 non-null     object
 15  subject.construction               87 non-null     object
 16  subject.remaining_economic_life    87 non-null     object
 17  subject.windows                    87 non-null     object
 18  subject.basement                   79 non-null     object
 19  subject.exterior_finish            87 non-null     object
 20  subject.basement_area              77 non-null     object
 21  subject.foundation_walls           87 non-null     object
 22  subject.flooring                   87 non-null     object
 23  subject.plumbing_lines             87 non-null     object
 24  subject.heating                    87 non-null     object
 25  subject.fuel_type                  87 non-null     object
 26  subject.water_heater               87 non-null     object
 27  subject.cooling                    62 non-null     object
 28  subject.room_count                 87 non-null     float64
 29  subject.num_beds                   87 non-null     object
 30  subject.room_total                 87 non-null     float64
 31  subject.main_lvl_area              67 non-null     object
 32  subject.second_lvl_area            43 non-null     float64
 33  subject.third_lvl_area             1 non-null      float64
 34  subject.gla                        88 non-null     object
 35  subject.subject_age                88 non-null     object
 36  subject.num_baths                  87 non-null     object
 37  subject.condition                  88 non-null     object
dtypes: float64(4), int64(1), object(33)
memory usage: 26.3+ KB

In [ ]:
# Preprocess the data
# address - no missing values
# subject_city_province_zip -

Unique addresses:
88
Number of missing addresses: 0