### Property Recommendation System

In [16]:
import numpy as np
import pandas as pd
import json
import warnings
warnings.filterwarnings("ignore")

In [17]:
with open('appraisals_dataset.json', 'r') as f:
    data = pd.read_json(f)
print("Data shape:", data.shape)
print("Data head:\n", data.head())

Data shape: (88, 1)
Data head:
                                           appraisals
0  {'orderID': '4762597', 'subject': {'address': ...
1  {'orderID': '4762739', 'subject': {'address': ...
2  {'orderID': '4763065', 'subject': {'address': ...
3  {'orderID': '4763086', 'subject': {'address': ...
4  {'orderID': '4763087', 'subject': {'address': ...

In [18]:
df = pd.json_normalize(data['appraisals'].tolist())
df.to_csv('appraisals.csv', index=False)
df = pd.read_csv('appraisals.csv')
display(df.head())

,orderID,comps,properties,subject.address,subject.subject_city_province_zip,subject.effective_date,subject.municipality_district,subject.site_dimensions,subject.lot_size_sf,subject.units_sq_ft,...,subject.room_count,subject.num_beds,subject.room_total,subject.main_lvl_area,subject.second_lvl_area,subject.third_lvl_area,subject.gla,subject.subject_age,subject.num_baths,subject.condition
0,4762597,"[{'distance_to_subject': '0.15 KM', 'prop_type...","[{'id': 367, 'address': '463 Conservatory Dr',...",142-950 Oakview Ave Kingston ON K7M 6W8,"""Twin Oak Meadows""",Apr/11/2025,Kingston,Condo Common Property,NaN,SqFt,...,6.0,3,6.0,522,522.0,NaN,1044,49,1:1,Average
1,4762739,"[{'distance_to_subject': '3.73 KM', 'prop_type...","[{'id': 297301, 'address': '638 Myers Point Ro...",7180 207 HWY Halifax NS B0J2L0,"West Chezzetcook, NS B0J2L0",Apr/17/2025,Halifax Regional Municipality - West Chezzetcook,See Schedule A and or Plot Map,72745+/-SqFt,SqFt,...,6.0,3,6.0,1060,440.0,NaN,1500 SqFt,14+/-yrs,2:1,Average
2,4763065,"[{'distance_to_subject': '0.31 KM', 'prop_type...","[{'id': 116134, 'address': '246 Waterbrook Lan...",11 PAUL AVE Ayr ON N0B1E0,Ayr ON N0B1E0,May/01/2025,"Township of North Dumfries, Region of Waterloo",131' x 154',20174 SqFt,SqFt,...,9.0,4,9.0,1660,1340.0,NaN,3000 SqFt,42,2:1,Average
3,4763086,"[{'distance_to_subject': '0.78 KM', 'prop_type...","[{'id': 1849, 'address': '501 CLOTHIER Street ...",102 Stonewalk Dr Kemptville ON K0G 1J0,Kemptville ON K0G 1J0,Apr/15/2025,"North Grenville, Ontario",176.38 F x Irregular,1.25 Acres,Acres,...,5.0,2,5.0,NaN,NaN,NaN,1283 SqFt,2012 +/-,3:0,Good
4,4763087,"[{'distance_to_subject': '0.00 KM', 'prop_type...","[{'id': 293769, 'address': '3 Apollo Court', '...",407 105 Dunbrack St Halifax NS B3M3G7,Halifax NS B3M3G7,Apr/17/2025,Halifax Regional Municipality - Halifax,CONDO - N/A,NaN,NaN,...,6.0,3,6.0,1530,NaN,NaN,1530 SqFt,47+/-yrs,2:0,Average

In [19]:
print("\n DataFrame info:")
df.info()
print("/nFirst 5 rows of the DataFrame:")
df.head()
print("\nDataFrame shape:", df.shape)
print("\nDataFrame columns:", df.columns)
print("\n Missing values count")
print(df.isnull().sum())

 DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   orderID                            88 non-null     int64
 1   comps                              88 non-null     object
 2   properties                         88 non-null     object
 3   subject.address                    88 non-null     object
 4   subject.subject_city_province_zip  88 non-null     object
 5   subject.effective_date             88 non-null     object
 6   subject.municipality_district      87 non-null     object
 7   subject.site_dimensions            88 non-null     object
 8   subject.lot_size_sf                78 non-null     object
 9   subject.units_sq_ft                83 non-null     object
 10  subject.year_built                 87 non-null     object
 11  subject.structure_type             87 non-null     object
 12  subject.roofing                    87 non-null     object
 13  subject.effective_age              87 non-null     object
 14  subject.style                      88 non-null     object
 15  subject.construction               87 non-null     object
 16  subject.remaining_economic_life    87 non-null     object
 17  subject.windows                    87 non-null     object
 18  subject.basement                   79 non-null     object
 19  subject.exterior_finish            87 non-null     object
 20  subject.basement_area              77 non-null     object
 21  subject.foundation_walls           87 non-null     object
 22  subject.flooring                   87 non-null     object
 23  subject.plumbing_lines             87 non-null     object
 24  subject.heating                    87 non-null     object
 25  subject.fuel_type                  87 non-null     object
 26  subject.water_heater               87 non-null     object
 27  subject.cooling                    62 non-null     object
 28  subject.room_count                 87 non-null     float64
 29  subject.num_beds                   87 non-null     object
 30  subject.room_total                 87 non-null     float64
 31  subject.main_lvl_area              67 non-null     object
 32  subject.second_lvl_area            43 non-null     float64
 33  subject.third_lvl_area             1 non-null      float64
 34  subject.gla                        88 non-null     object
 35  subject.subject_age                88 non-null     object
 36  subject.num_baths                  87 non-null     object
 37  subject.condition                  88 non-null     object
dtypes: float64(4), int64(1), object(33)
memory usage: 26.3+ KB
/nFirst 5 rows of the DataFrame:

DataFrame shape: (88, 38)

DataFrame columns: Index(['orderID', 'comps', 'properties', 'subject.address',
       'subject.subject_city_province_zip', 'subject.effective_date',
       'subject.municipality_district', 'subject.site_dimensions',
       'subject.lot_size_sf', 'subject.units_sq_ft', 'subject.year_built',
       'subject.structure_type', 'subject.roofing', 'subject.effective_age',
       'subject.style', 'subject.construction',
       'subject.remaining_economic_life', 'subject.windows',
       'subject.basement', 'subject.exterior_finish', 'subject.basement_area',
       'subject.foundation_walls', 'subject.flooring',
       'subject.plumbing_lines', 'subject.heating', 'subject.fuel_type',
       'subject.water_heater', 'subject.cooling', 'subject.room_count',
       'subject.num_beds', 'subject.room_total', 'subject.main_lvl_area',
       'subject.second_lvl_area', 'subject.third_lvl_area', 'subject.gla',
       'subject.subject_age', 'subject.num_baths', 'subject.condition'],
      dtype='object')

 Missing values count
orderID                               0
comps                                 0
properties                            0
subject.address                       0
subject.subject_city_province_zip     0
subject.effective_date                0
subject.municipality_district         1
subject.site_dimensions               0
subject.lot_size_sf                  10
subject.units_sq_ft                   5
subject.year_built                    1
subject.structure_type                1
subject.roofing                       1
subject.effective_age                 1
subject.style                         0
subject.construction                  1
subject.remaining_economic_life       1
subject.windows                       1
subject.basement                      9
subject.exterior_finish               1
subject.basement_area                11
subject.foundation_walls              1
subject.flooring                      1
subject.plumbing_lines                1
subject.heating                       1
subject.fuel_type                     1
subject.water_heater                  1
subject.cooling                      26
subject.room_count                    1
subject.num_beds                      1
subject.room_total                    1
subject.main_lvl_area                21
subject.second_lvl_area              45
subject.third_lvl_area               87
subject.gla                           0
subject.subject_age                   0
subject.num_baths                     1
subject.condition                     0
dtype: int64

In [20]:
with open('appraisals_dataset.json', 'r') as f:
    data = pd.read_json(f)  
print("Initial data shape:", data.shape)
print("\n Columns in the dataset:", data.columns.tolist())
sample_apprasial = data['appraisals'][0]
print(json.dumps(sample_apprasial, indent=2)[:500]+"...")

normalized_df = pd.json_normalize(data['appraisals'])
print("\n Normalized DataFrame shape:", normalized_df.shape)
print("\n Normalized DataFrame columns:", normalized_df.columns.tolist()[:10],"...")

numeric_cols = normalized_df.select_dtypes(include=['object']).columns
for col in numeric_cols:
    try:
        normalized_df[col] = pd.to_numeric(normalized_df[col], errors='ignore')
    except:
        pass

missing_data = normalized_df.isnull().sum()
missing_values = missing_data.sum()
print("\n Total missing values in the DataFrame:", missing_values)

display(missing_data[missing_data > 0])
display(normalized_df.head())

Initial data shape: (88, 1)

 Columns in the dataset: ['appraisals']
{
  "orderID": "4762597",
  "subject": {
    "address": "142-950 Oakview Ave Kingston ON K7M 6W8",
    "subject_city_province_zip": "\"Twin Oak Meadows\"",
    "effective_date": "Apr/11/2025",
    "municipality_district": "Kingston",
    "site_dimensions": "Condo Common Property",
    "lot_size_sf": "n/a",
    "units_sq_ft": "SqFt",
    "year_built": "1976",
    "structure_type": "Townhouse",
    "roofing": "Asphalt Shingle",
    "effective_age": "25",
    "style": "2 Storey",
    "construction"...

 Normalized DataFrame shape: (88, 38)

 Normalized DataFrame columns: ['orderID', 'comps', 'properties', 'subject.address', 'subject.subject_city_province_zip', 'subject.effective_date', 'subject.municipality_district', 'subject.site_dimensions', 'subject.lot_size_sf', 'subject.units_sq_ft'] ...

 Total missing values in the DataFrame: 155

subject.municipality_district       1
subject.units_sq_ft                 1
subject.year_built                  1
subject.structure_type              1
subject.roofing                     1
subject.effective_age               1
subject.construction                1
subject.remaining_economic_life     1
subject.windows                     1
subject.exterior_finish             1
subject.basement_area               1
subject.foundation_walls            1
subject.flooring                    1
subject.plumbing_lines              1
subject.heating                     1
subject.fuel_type                   1
subject.water_heater                1
subject.cooling                     1
subject.room_count                  1
subject.num_beds                    1
subject.room_total                  1
subject.main_lvl_area               1
subject.second_lvl_area            45
subject.third_lvl_area             87
subject.num_baths                   1
dtype: int64

,orderID,comps,properties,subject.address,subject.subject_city_province_zip,subject.effective_date,subject.municipality_district,subject.site_dimensions,subject.lot_size_sf,subject.units_sq_ft,...,subject.room_count,subject.num_beds,subject.room_total,subject.main_lvl_area,subject.second_lvl_area,subject.third_lvl_area,subject.gla,subject.subject_age,subject.num_baths,subject.condition
0,4762597,"[{'distance_to_subject': '0.15 KM', 'prop_type...","[{'id': 367, 'address': '463 Conservatory Dr',...",142-950 Oakview Ave Kingston ON K7M 6W8,"""Twin Oak Meadows""",Apr/11/2025,Kingston,Condo Common Property,n/a,SqFt,...,6.0,3,6.0,522,522.0,NaN,1044,49,1:1,Average
1,4762739,"[{'distance_to_subject': '3.73 KM', 'prop_type...","[{'id': 297301, 'address': '638 Myers Point Ro...",7180 207 HWY Halifax NS B0J2L0,"West Chezzetcook, NS B0J2L0",Apr/17/2025,Halifax Regional Municipality - West Chezzetcook,See Schedule A and or Plot Map,72745+/-SqFt,SqFt,...,6.0,3,6.0,1060,440.0,NaN,1500 SqFt,14+/-yrs,2:1,Average
2,4763065,"[{'distance_to_subject': '0.31 KM', 'prop_type...","[{'id': 116134, 'address': '246 Waterbrook Lan...",11 PAUL AVE Ayr ON N0B1E0,Ayr ON N0B1E0,May/01/2025,"Township of North Dumfries, Region of Waterloo",131' x 154',20174 SqFt,SqFt,...,9.0,4,9.0,1660,1340.0,NaN,3000 SqFt,42,2:1,Average
3,4763086,"[{'distance_to_subject': '0.78 KM', 'prop_type...","[{'id': 1849, 'address': '501 CLOTHIER Street ...",102 Stonewalk Dr Kemptville ON K0G 1J0,Kemptville ON K0G 1J0,Apr/15/2025,"North Grenville, Ontario",176.38 F x Irregular,1.25 Acres,Acres,...,5.0,2,5.0,,NaN,NaN,1283 SqFt,2012 +/-,3:0,Good
4,4763087,"[{'distance_to_subject': '0.00 KM', 'prop_type...","[{'id': 293769, 'address': '3 Apollo Court', '...",407 105 Dunbrack St Halifax NS B3M3G7,Halifax NS B3M3G7,Apr/17/2025,Halifax Regional Municipality - Halifax,CONDO - N/A,N/A,N/A,...,6.0,3,6.0,1530,NaN,NaN,1530 SqFt,47+/-yrs,2:0,Average

In [21]:
normalized_df.describe()

,orderID,subject.room_count,subject.room_total,subject.second_lvl_area,subject.third_lvl_area
count,8.800000e+01,87.000000,87.000000,43.000000,1.0
mean,4.765229e+06,7.080460,7.172414,839.868372,300.0
std,8.840239e+03,1.918202,1.989548,402.985942,NaN
min,4.723364e+06,4.000000,4.000000,138.000000,300.0
25%,4.759562e+06,6.000000,6.000000,624.000000,300.0
50%,4.763752e+06,7.000000,7.000000,770.000000,300.0
75%,4.771735e+06,8.000000,8.000000,982.955000,300.0
max,4.779669e+06,15.000000,15.000000,2294.000000,300.0

In [22]:
normalized_df.columns

Index(['orderID', 'comps', 'properties', 'subject.address',
       'subject.subject_city_province_zip', 'subject.effective_date',
       'subject.municipality_district', 'subject.site_dimensions',
       'subject.lot_size_sf', 'subject.units_sq_ft', 'subject.year_built',
       'subject.structure_type', 'subject.roofing', 'subject.effective_age',
       'subject.style', 'subject.construction',
       'subject.remaining_economic_life', 'subject.windows',
       'subject.basement', 'subject.exterior_finish', 'subject.basement_area',
       'subject.foundation_walls', 'subject.flooring',
       'subject.plumbing_lines', 'subject.heating', 'subject.fuel_type',
       'subject.water_heater', 'subject.cooling', 'subject.room_count',
       'subject.num_beds', 'subject.room_total', 'subject.main_lvl_area',
       'subject.second_lvl_area', 'subject.third_lvl_area', 'subject.gla',
       'subject.subject_age', 'subject.num_baths', 'subject.condition'],
      dtype='object')

## Data Pre-Processing

In [23]:
import re
def parse_lot_size_sf(lot_size):
    if pd.isna(lot_size):
        return np.nan
    lot_size = lot_size.lower().strip()
    if any(x in lot_size.lower() for x in ['n/a','na','nan']):
        return np.nan
    value = lot_size.replace('+/-','')
    match = re.search(r"([\d.]+)", value)
    if not match:
        return np.nan
    number = float(match[0])
    if any(x in value for x in ['acres', 'acre','ac']):
        return number * 43560
    elif any(x in value for x in ['sqm','sq m']):
        return number * 10.7639
    elif any(x in value for x in ['sqft']):
        return number
    else:
        return np.nan  

normalized_df['subject.lot_size_sf_parsed'] = normalized_df['subject.lot_size_sf'].apply(parse_lot_size_sf)

print("\n After parsing site dimensions:")
print(normalized_df['subject.lot_size_sf_parsed'].unique())
normalized_df['subject.lot_size_sf_parsed'].describe()

print("\n Values that counlent be parsed")
print(normalized_df[normalized_df['subject.lot_size_sf_parsed'].isnull()]['subject.lot_size_sf_parsed'].unique())

 After parsing site dimensions:
[           nan 7.27450000e+04 2.01740000e+04 5.44500000e+04
 6.82500000e+03 3.69400000e+03 3.35800000e+03 5.90938110e+03
 4.24950000e+04 2.61900000e+03 2.67000000e+04 5.00000000e+00
 3.39430000e+04 5.98700000e+03 4.38082920e+05 1.74200000e+03
 3.25000000e+03 4.05799030e+03 4.63924090e+03 6.51215950e+03
 3.60100000e+03 3.55208700e+03 1.86800000e+03 6.73820140e+03
 8.19132790e+03 1.26000000e+04 3.25300000e+03 3.36610000e+04
 4.92986620e+03 3.73740000e+04 1.59360000e+04 3.13700000e+03
 6.30000000e+03 1.43750000e+04 3.50000000e+03 1.42320000e+04
 6.00000000e+03 9.11000000e+02 8.39800000e+03 6.45200000e+03
 7.54100000e+03 7.00000000e+00 1.05700000e+04 3.00000000e+00
 6.00000000e+00 2.89900000e+03 2.78000000e+03 5.31432000e+04
 7.05900000e+03 6.48000000e+03 4.47778240e+03 2.74479450e+03
 3.57361480e+03 4.10104590e+03 3.70278160e+03 2.17800000e+04
 1.00211909e+04 2.17800000e+05 2.30460000e+04 1.00000000e+01
 9.45070420e+03 7.52396610e+03 4.76800000e+03 4.91900000e+03
 6.24306200e+03 5.79100000e+03 3.62500000e+03 8.16980010e+03
 5.82326990e+03 4.35600000e+05 6.09840000e+05]

 Values that counlent be parsed
[nan]

In [24]:
normalized_df['subject.site_dimensions'].unique()

array(['Condo Common Property', 'See Schedule A and or Plot Map',
       "131' x 154'", '176.38 F x Irregular', 'CONDO - N/A',
       "26.36' x 140.17'", "42' x 84'", 'CONDO - NOT APPLICABLE',
       '14.30 m x 38.40 m', "24.96' x 104.92'", 'Unknown',
       "61.29' x Irregular", '50.00 x 119.75', "325.95' x IRR",
       '24.66 x 84.03', '13.25m x33.99m', 'See Plot Map', '605',
       '36.09 F x 99.74 F', 'Common Property', '330', '20.34 x 91.86',
       '19.55 x 39.58', 'Condominium property-as per deed', "34' x 102'",
       '36.09 Ft x 86.94 Ft', '13.18 F x Irregular',
       '41.39 F x Irregular', 'Condo n/a', "41.31' x Irr",
       "47.5' x 135.83'", 'n/a condo', "101.7' x 68.9'", '75 x irregular',
       "35.10' x 104.99'", "52' x 132'", '29.46 F x 98.42 F',
       '33.27x Irr', 'Condominium Property', "101.39' x 527'",
       '72.7 x Irregular', "54' x 120'", 'N/A Condominium',
       '13.72m x 29.87m', '7.72m x 33.0m', '10.36m x 31.99m',
       '11.71 m x 32.56 m', '9.7 m x 35.5 m', '176.54 F x Irregular',
       '18.70m x 50.0m', '5 Acres', '138 x 167',
       "60.51' x 142.74' - Irregular", '21.90 m x 40.08 m',
       '10.36m x 30.08m', '15.03 m x 35.00 m', '45.28 X 108.60',
       '15.23m x 38.07m', '44.0Ft x 131.0Ft', "31.53' x 115'",
       '10.05m x 45.23m', '14.32m x 37.80m', "830' x Irregular",
       "223.32' x 1966.85'", "1531.45' x Irregular"], dtype=object)

In [25]:
def parse_site_dimensions(dimension):
    if pd.isna(dimension):
        return np.nan
    dimension = str(dimension).strip().lower()
    if any(x in dimension for x in ['condo','common property', 'see','n/a','unknown','not applicable']):
        return np.nan
    try:
        if dimension.replace('.','',1).isdigit():
            return float(dimension)
        if 'acre' in dimension:
            acres = float(dimension.split()[0])
            return acres * 43560
        
        dims = dimension.replace("'",'').replace('"','').replace('ft','').replace('f','')
        dims = dims.replace('x',' ').replace('X',' ').replace('by',' ')
        dims = dims.replace('m','').replace('irregular','').replace('irr','')
        dims = dims.strip().split()
        if len(dims) >= 2:

            length = float(dims[0])
            width = float(dims[1])
            if any(x in dimension.lower() for x in ['m','metre', 'meter']):
                length = length * 3.28084
                width = width * 3.28084
            return length * width
    except:
        return np.nan

    return
normalized_df['subject.site_dimensions_parsed'] = normalized_df['subject.site_dimensions'].apply(parse_site_dimensions)

print("\n After parsing site dimensions:")
print(normalized_df['subject.site_dimensions_parsed'].unique())
normalized_df['subject.site_dimensions_parsed'].describe()

print("\n Values that counlent be parsed")
print(normalized_df[normalized_df['subject.site_dimensions_parsed'].isnull()]['subject.site_dimensions'].unique())

 After parsing site dimensions:
[           nan 2.01740000e+04 3.69488120e+03 3.52800000e+03
 5.91067887e+03 2.61880320e+03 5.98750000e+03 2.07217980e+03
 4.84771573e+03 6.05000000e+02 3.59961660e+03 3.30000000e+02
 1.86843240e+03 7.73789000e+02 3.46800000e+03 3.13766460e+03
 6.45192500e+03 7.00713000e+03 3.68514900e+03 6.86400000e+03
 2.89945320e+03 5.34325300e+04 6.48000000e+03 4.41122730e+03
 2.74221399e+03 3.56733667e+03 4.10403819e+03 3.70655279e+03
 1.00642569e+04 2.17800000e+05 2.30460000e+04 8.63719740e+03
 9.44804450e+03 3.35434470e+03 5.66235544e+03 4.91740800e+03
 6.24098132e+03 5.76400000e+03 3.62595000e+03 4.89285958e+03
 5.82646203e+03 4.39236942e+05]

 Values that counlent be parsed
['Condo Common Property' 'See Schedule A and or Plot Map'
 '176.38 F x Irregular' 'CONDO - N/A' 'CONDO - NOT APPLICABLE' 'Unknown'
 "61.29' x Irregular" "325.95' x IRR" 'See Plot Map' 'Common Property'
 'Condominium property-as per deed' '13.18 F x Irregular'
 '41.39 F x Irregular' 'Condo n/a' "41.31' x Irr" 'n/a condo'
 '75 x irregular' '33.27x Irr' 'Condominium Property' '72.7 x Irregular'
 'N/A Condominium' '176.54 F x Irregular' "830' x Irregular"
 "1531.45' x Irregular"]

In [26]:
normalized_df['subject.lot_size_sf'].unique()

array(['n/a', '72745+/-SqFt', '20174 SqFt', '1.25 Acres', 'N/A',
       '6825 SqFt', '3694 SqFt', '3358 SqFt', '549 SqM', '42495 SqFt',
       '2619 SqFt', '26700 SqFt', '5,663 SqFt', '33943+/-SqFt',
       '5987 SqFt', '10.057 Acres', '1742 SqFt', '3250 SqFt', '377 SqM',
       '431 SqM', '605 SqM', '3601 SqFt', '330 SqM', '1868 SqFt',
       '626 SqM', '761 SqM', 'SqFt', '12600 SqFt', 'N/A-CONDO LAND',
       '3253 SqFt', '33661 SqFt', '458 SqM', '37374 SqFt', '15936 SqFt',
       '3137 SqFt', '6300 SqFt', '14375 SqFt', '3500 SqFt', '14232 SqFt',
       '6000 SqFt', '911 SqFt', '8398 SqFt', '6452 SqFt', '7541 SqFt',
       '7,007 SqFt', '10570 SqFt', '3,685 SqFt', '6,864 SqFt',
       '2899 SqFt', '2780 SqFt', '1.22  Acres', '7059 SqFt', '6480 SqFt',
       'N/A Condominium', '416 SqM', '255 SqM', '332 SqM', '381 SqM',
       'n/a-condo land', '344 SqM', '0.5ac', '931 SqM', '5 Acres',
       '23046 SqFt', '10,014 SqFt', '878 SqM', '699 SqM', '4768 SqFt',
       '4919 sqft', '580 SqM', '5791 SqFt', '3625 SqFt', 'na', '759 SqM',
       '541 SqM', '10 Acres', '14 Acres'], dtype=object)

In [27]:
import re
def parse_lot_size_sf(lot_size):
    if pd.isna(lot_size):
        return np.nan
    lot_size = lot_size.lower().strip()
    if any(x in lot_size.lower() for x in ['n/a','na','nan']):
        return np.nan
    value = lot_size.replace('+/-','')
    match = re.search(r"([\d.]+)", value)
    if not match:
        return np.nan
    number = float(match[0])
    if any(x in value for x in ['acres', 'acre','ac']):
        return number * 43560
    elif any(x in value for x in ['sqm','sq m']):
        return number * 10.7639
    elif any(x in value for x in ['sqft']):
        return number
    else:
        return np.nan  

normalized_df['subject.lot_size_sf_parsed'] = normalized_df['subject.lot_size_sf'].apply(parse_lot_size_sf)

print("\n After parsing site dimensions:")
print(normalized_df['subject.lot_size_sf_parsed'].unique())
normalized_df['subject.lot_size_sf_parsed'].describe()

print("\n Values that counlent be parsed")
print(normalized_df[normalized_df['subject.lot_size_sf_parsed'].isnull()]['subject.lot_size_sf_parsed'].unique())

 After parsing site dimensions:
[           nan 7.27450000e+04 2.01740000e+04 5.44500000e+04
 6.82500000e+03 3.69400000e+03 3.35800000e+03 5.90938110e+03
 4.24950000e+04 2.61900000e+03 2.67000000e+04 5.00000000e+00
 3.39430000e+04 5.98700000e+03 4.38082920e+05 1.74200000e+03
 3.25000000e+03 4.05799030e+03 4.63924090e+03 6.51215950e+03
 3.60100000e+03 3.55208700e+03 1.86800000e+03 6.73820140e+03
 8.19132790e+03 1.26000000e+04 3.25300000e+03 3.36610000e+04
 4.92986620e+03 3.73740000e+04 1.59360000e+04 3.13700000e+03
 6.30000000e+03 1.43750000e+04 3.50000000e+03 1.42320000e+04
 6.00000000e+03 9.11000000e+02 8.39800000e+03 6.45200000e+03
 7.54100000e+03 7.00000000e+00 1.05700000e+04 3.00000000e+00
 6.00000000e+00 2.89900000e+03 2.78000000e+03 5.31432000e+04
 7.05900000e+03 6.48000000e+03 4.47778240e+03 2.74479450e+03
 3.57361480e+03 4.10104590e+03 3.70278160e+03 2.17800000e+04
 1.00211909e+04 2.17800000e+05 2.30460000e+04 1.00000000e+01
 9.45070420e+03 7.52396610e+03 4.76800000e+03 4.91900000e+03
 6.24306200e+03 5.79100000e+03 3.62500000e+03 8.16980010e+03
 5.82326990e+03 4.35600000e+05 6.09840000e+05]

 Values that counlent be parsed
[nan]

In [28]:
normalized_df = normalized_df.drop(columns=['subject.units_sq_ft'])

normalized_df.describe()