### Property Recommendation System

In [91]:
import numpy as np
import pandas as pd
import json
import warnings
warnings.filterwarnings("ignore")

In [92]:
with open('appraisals_dataset.json', 'r') as f:
    data = pd.read_json(f)
print("Data shape:", data.shape)
print("Data head:\n", data.head())

Data shape: (88, 1)
Data head:
                                           appraisals
0  {'orderID': '4762597', 'subject': {'address': ...
1  {'orderID': '4762739', 'subject': {'address': ...
2  {'orderID': '4763065', 'subject': {'address': ...
3  {'orderID': '4763086', 'subject': {'address': ...
4  {'orderID': '4763087', 'subject': {'address': ...

In [93]:
df = pd.json_normalize(data['appraisals'].tolist())
df.to_csv('appraisals.csv', index=False)
df = pd.read_csv('appraisals.csv')
display(df.head())

,orderID,comps,properties,subject.address,subject.subject_city_province_zip,subject.effective_date,subject.municipality_district,subject.site_dimensions,subject.lot_size_sf,subject.units_sq_ft,...,subject.room_count,subject.num_beds,subject.room_total,subject.main_lvl_area,subject.second_lvl_area,subject.third_lvl_area,subject.gla,subject.subject_age,subject.num_baths,subject.condition
0,4762597,"[{'distance_to_subject': '0.15 KM', 'prop_type...","[{'id': 367, 'address': '463 Conservatory Dr',...",142-950 Oakview Ave Kingston ON K7M 6W8,"""Twin Oak Meadows""",Apr/11/2025,Kingston,Condo Common Property,NaN,SqFt,...,6.0,3,6.0,522,522.0,NaN,1044,49,1:1,Average
1,4762739,"[{'distance_to_subject': '3.73 KM', 'prop_type...","[{'id': 297301, 'address': '638 Myers Point Ro...",7180 207 HWY Halifax NS B0J2L0,"West Chezzetcook, NS B0J2L0",Apr/17/2025,Halifax Regional Municipality - West Chezzetcook,See Schedule A and or Plot Map,72745+/-SqFt,SqFt,...,6.0,3,6.0,1060,440.0,NaN,1500 SqFt,14+/-yrs,2:1,Average
2,4763065,"[{'distance_to_subject': '0.31 KM', 'prop_type...","[{'id': 116134, 'address': '246 Waterbrook Lan...",11 PAUL AVE Ayr ON N0B1E0,Ayr ON N0B1E0,May/01/2025,"Township of North Dumfries, Region of Waterloo",131' x 154',20174 SqFt,SqFt,...,9.0,4,9.0,1660,1340.0,NaN,3000 SqFt,42,2:1,Average
3,4763086,"[{'distance_to_subject': '0.78 KM', 'prop_type...","[{'id': 1849, 'address': '501 CLOTHIER Street ...",102 Stonewalk Dr Kemptville ON K0G 1J0,Kemptville ON K0G 1J0,Apr/15/2025,"North Grenville, Ontario",176.38 F x Irregular,1.25 Acres,Acres,...,5.0,2,5.0,NaN,NaN,NaN,1283 SqFt,2012 +/-,3:0,Good
4,4763087,"[{'distance_to_subject': '0.00 KM', 'prop_type...","[{'id': 293769, 'address': '3 Apollo Court', '...",407 105 Dunbrack St Halifax NS B3M3G7,Halifax NS B3M3G7,Apr/17/2025,Halifax Regional Municipality - Halifax,CONDO - N/A,NaN,NaN,...,6.0,3,6.0,1530,NaN,NaN,1530 SqFt,47+/-yrs,2:0,Average

In [94]:
print("\n DataFrame info:")
df.info()
print("/nFirst 5 rows of the DataFrame:")
df.head()
print("\nDataFrame shape:", df.shape)
print("\nDataFrame columns:", df.columns)
print("\n Missing values count")
print(df.isnull().sum())

 DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   orderID                            88 non-null     int64
 1   comps                              88 non-null     object
 2   properties                         88 non-null     object
 3   subject.address                    88 non-null     object
 4   subject.subject_city_province_zip  88 non-null     object
 5   subject.effective_date             88 non-null     object
 6   subject.municipality_district      87 non-null     object
 7   subject.site_dimensions            88 non-null     object
 8   subject.lot_size_sf                78 non-null     object
 9   subject.units_sq_ft                83 non-null     object
 10  subject.year_built                 87 non-null     object
 11  subject.structure_type             87 non-null     object
 12  subject.roofing                    87 non-null     object
 13  subject.effective_age              87 non-null     object
 14  subject.style                      88 non-null     object
 15  subject.construction               87 non-null     object
 16  subject.remaining_economic_life    87 non-null     object
 17  subject.windows                    87 non-null     object
 18  subject.basement                   79 non-null     object
 19  subject.exterior_finish            87 non-null     object
 20  subject.basement_area              77 non-null     object
 21  subject.foundation_walls           87 non-null     object
 22  subject.flooring                   87 non-null     object
 23  subject.plumbing_lines             87 non-null     object
 24  subject.heating                    87 non-null     object
 25  subject.fuel_type                  87 non-null     object
 26  subject.water_heater               87 non-null     object
 27  subject.cooling                    62 non-null     object
 28  subject.room_count                 87 non-null     float64
 29  subject.num_beds                   87 non-null     object
 30  subject.room_total                 87 non-null     float64
 31  subject.main_lvl_area              67 non-null     object
 32  subject.second_lvl_area            43 non-null     float64
 33  subject.third_lvl_area             1 non-null      float64
 34  subject.gla                        88 non-null     object
 35  subject.subject_age                88 non-null     object
 36  subject.num_baths                  87 non-null     object
 37  subject.condition                  88 non-null     object
dtypes: float64(4), int64(1), object(33)
memory usage: 26.3+ KB
/nFirst 5 rows of the DataFrame:

DataFrame shape: (88, 38)

DataFrame columns: Index(['orderID', 'comps', 'properties', 'subject.address',
       'subject.subject_city_province_zip', 'subject.effective_date',
       'subject.municipality_district', 'subject.site_dimensions',
       'subject.lot_size_sf', 'subject.units_sq_ft', 'subject.year_built',
       'subject.structure_type', 'subject.roofing', 'subject.effective_age',
       'subject.style', 'subject.construction',
       'subject.remaining_economic_life', 'subject.windows',
       'subject.basement', 'subject.exterior_finish', 'subject.basement_area',
       'subject.foundation_walls', 'subject.flooring',
       'subject.plumbing_lines', 'subject.heating', 'subject.fuel_type',
       'subject.water_heater', 'subject.cooling', 'subject.room_count',
       'subject.num_beds', 'subject.room_total', 'subject.main_lvl_area',
       'subject.second_lvl_area', 'subject.third_lvl_area', 'subject.gla',
       'subject.subject_age', 'subject.num_baths', 'subject.condition'],
      dtype='object')

 Missing values count
orderID                               0
comps                                 0
properties                            0
subject.address                       0
subject.subject_city_province_zip     0
subject.effective_date                0
subject.municipality_district         1
subject.site_dimensions               0
subject.lot_size_sf                  10
subject.units_sq_ft                   5
subject.year_built                    1
subject.structure_type                1
subject.roofing                       1
subject.effective_age                 1
subject.style                         0
subject.construction                  1
subject.remaining_economic_life       1
subject.windows                       1
subject.basement                      9
subject.exterior_finish               1
subject.basement_area                11
subject.foundation_walls              1
subject.flooring                      1
subject.plumbing_lines                1
subject.heating                       1
subject.fuel_type                     1
subject.water_heater                  1
subject.cooling                      26
subject.room_count                    1
subject.num_beds                      1
subject.room_total                    1
subject.main_lvl_area                21
subject.second_lvl_area              45
subject.third_lvl_area               87
subject.gla                           0
subject.subject_age                   0
subject.num_baths                     1
subject.condition                     0
dtype: int64

In [95]:
with open('appraisals_dataset.json', 'r') as f:
    data = pd.read_json(f)  
print("Initial data shape:", data.shape)
print("\n Columns in the dataset:", data.columns.tolist())
sample_apprasial = data['appraisals'][0]
print(json.dumps(sample_apprasial, indent=2)[:500]+"...")

normalized_df = pd.json_normalize(data['appraisals'])
print("\n Normalized DataFrame shape:", normalized_df.shape)
print("\n Normalized DataFrame columns:", normalized_df.columns.tolist()[:10],"...")

numeric_cols = normalized_df.select_dtypes(include=['object']).columns
for col in numeric_cols:
    try:
        normalized_df[col] = pd.to_numeric(normalized_df[col], errors='ignore')
    except:
        pass

missing_data = normalized_df.isnull().sum()
missing_values = missing_data.sum()
print("\n Total missing values in the DataFrame:", missing_values)

display(missing_data[missing_data > 0])
display(normalized_df.head())

Initial data shape: (88, 1)

 Columns in the dataset: ['appraisals']
{
  "orderID": "4762597",
  "subject": {
    "address": "142-950 Oakview Ave Kingston ON K7M 6W8",
    "subject_city_province_zip": "\"Twin Oak Meadows\"",
    "effective_date": "Apr/11/2025",
    "municipality_district": "Kingston",
    "site_dimensions": "Condo Common Property",
    "lot_size_sf": "n/a",
    "units_sq_ft": "SqFt",
    "year_built": "1976",
    "structure_type": "Townhouse",
    "roofing": "Asphalt Shingle",
    "effective_age": "25",
    "style": "2 Storey",
    "construction"...

 Normalized DataFrame shape: (88, 38)

 Normalized DataFrame columns: ['orderID', 'comps', 'properties', 'subject.address', 'subject.subject_city_province_zip', 'subject.effective_date', 'subject.municipality_district', 'subject.site_dimensions', 'subject.lot_size_sf', 'subject.units_sq_ft'] ...

 Total missing values in the DataFrame: 155

subject.municipality_district       1
subject.units_sq_ft                 1
subject.year_built                  1
subject.structure_type              1
subject.roofing                     1
subject.effective_age               1
subject.construction                1
subject.remaining_economic_life     1
subject.windows                     1
subject.exterior_finish             1
subject.basement_area               1
subject.foundation_walls            1
subject.flooring                    1
subject.plumbing_lines              1
subject.heating                     1
subject.fuel_type                   1
subject.water_heater                1
subject.cooling                     1
subject.room_count                  1
subject.num_beds                    1
subject.room_total                  1
subject.main_lvl_area               1
subject.second_lvl_area            45
subject.third_lvl_area             87
subject.num_baths                   1
dtype: int64

,orderID,comps,properties,subject.address,subject.subject_city_province_zip,subject.effective_date,subject.municipality_district,subject.site_dimensions,subject.lot_size_sf,subject.units_sq_ft,...,subject.room_count,subject.num_beds,subject.room_total,subject.main_lvl_area,subject.second_lvl_area,subject.third_lvl_area,subject.gla,subject.subject_age,subject.num_baths,subject.condition
0,4762597,"[{'distance_to_subject': '0.15 KM', 'prop_type...","[{'id': 367, 'address': '463 Conservatory Dr',...",142-950 Oakview Ave Kingston ON K7M 6W8,"""Twin Oak Meadows""",Apr/11/2025,Kingston,Condo Common Property,n/a,SqFt,...,6.0,3,6.0,522,522.0,NaN,1044,49,1:1,Average
1,4762739,"[{'distance_to_subject': '3.73 KM', 'prop_type...","[{'id': 297301, 'address': '638 Myers Point Ro...",7180 207 HWY Halifax NS B0J2L0,"West Chezzetcook, NS B0J2L0",Apr/17/2025,Halifax Regional Municipality - West Chezzetcook,See Schedule A and or Plot Map,72745+/-SqFt,SqFt,...,6.0,3,6.0,1060,440.0,NaN,1500 SqFt,14+/-yrs,2:1,Average
2,4763065,"[{'distance_to_subject': '0.31 KM', 'prop_type...","[{'id': 116134, 'address': '246 Waterbrook Lan...",11 PAUL AVE Ayr ON N0B1E0,Ayr ON N0B1E0,May/01/2025,"Township of North Dumfries, Region of Waterloo",131' x 154',20174 SqFt,SqFt,...,9.0,4,9.0,1660,1340.0,NaN,3000 SqFt,42,2:1,Average
3,4763086,"[{'distance_to_subject': '0.78 KM', 'prop_type...","[{'id': 1849, 'address': '501 CLOTHIER Street ...",102 Stonewalk Dr Kemptville ON K0G 1J0,Kemptville ON K0G 1J0,Apr/15/2025,"North Grenville, Ontario",176.38 F x Irregular,1.25 Acres,Acres,...,5.0,2,5.0,,NaN,NaN,1283 SqFt,2012 +/-,3:0,Good
4,4763087,"[{'distance_to_subject': '0.00 KM', 'prop_type...","[{'id': 293769, 'address': '3 Apollo Court', '...",407 105 Dunbrack St Halifax NS B3M3G7,Halifax NS B3M3G7,Apr/17/2025,Halifax Regional Municipality - Halifax,CONDO - N/A,N/A,N/A,...,6.0,3,6.0,1530,NaN,NaN,1530 SqFt,47+/-yrs,2:0,Average

In [96]:
normalized_df.describe()

,orderID,subject.room_count,subject.room_total,subject.second_lvl_area,subject.third_lvl_area
count,8.800000e+01,87.000000,87.000000,43.000000,1.0
mean,4.765229e+06,7.080460,7.172414,839.868372,300.0
std,8.840239e+03,1.918202,1.989548,402.985942,NaN
min,4.723364e+06,4.000000,4.000000,138.000000,300.0
25%,4.759562e+06,6.000000,6.000000,624.000000,300.0
50%,4.763752e+06,7.000000,7.000000,770.000000,300.0
75%,4.771735e+06,8.000000,8.000000,982.955000,300.0
max,4.779669e+06,15.000000,15.000000,2294.000000,300.0

In [97]:
print("Number of columns in normalized_df:", normalized_df.shape[1])

Number of columns in normalized_df: 38

In [98]:
normalized_df.columns

Index(['orderID', 'comps', 'properties', 'subject.address',
       'subject.subject_city_province_zip', 'subject.effective_date',
       'subject.municipality_district', 'subject.site_dimensions',
       'subject.lot_size_sf', 'subject.units_sq_ft', 'subject.year_built',
       'subject.structure_type', 'subject.roofing', 'subject.effective_age',
       'subject.style', 'subject.construction',
       'subject.remaining_economic_life', 'subject.windows',
       'subject.basement', 'subject.exterior_finish', 'subject.basement_area',
       'subject.foundation_walls', 'subject.flooring',
       'subject.plumbing_lines', 'subject.heating', 'subject.fuel_type',
       'subject.water_heater', 'subject.cooling', 'subject.room_count',
       'subject.num_beds', 'subject.room_total', 'subject.main_lvl_area',
       'subject.second_lvl_area', 'subject.third_lvl_area', 'subject.gla',
       'subject.subject_age', 'subject.num_baths', 'subject.condition'],
      dtype='object')

In [ ]:
done = ['orderID', 'comps', 'properties', 'subject.address',
       'subject.subject_city_province_zip', 'subject.effective_date','subject.municipality_district','subject.site_dimensions',
       'subject.lot_size_sf', 'subject.units_sq_ft',
       'subject.subject_age', 'subject.num_baths',
       'subject.num_beds','subject.main_lvl_area',
       'subject.second_lvl_area','subject.third_lvl_area',
       'subject.gla','subject.room_total', 
       'subject.room_count','subject.structure_type','subject.remaining_economic_life','subject.basement_area',]

remaining = ['subject.year_built', 'subject.roofing', 'subject.effective_age',
       'subject.style', 'subject.construction',
        'subject.windows',
       'subject.basement', 'subject.exterior_finish', 
       'subject.foundation_walls', 'subject.flooring',
       'subject.plumbing_lines', 'subject.heating', 'subject.fuel_type',
       'subject.water_heater', 'subject.cooling', 
       'subject.condition']
print(len(done))
print(len(remaining))

19
19

## Data Pre-Processing

In [27]:
import re
def parse_lot_size_sf(lot_size):
    if pd.isna(lot_size):
        return np.nan
    lot_size = lot_size.lower().strip()
    if any(x in lot_size.lower() for x in ['n/a','na','nan']):
        return np.nan
    value = lot_size.replace('+/-','')
    match = re.search(r"([\d.]+)", value)
    if not match:
        return np.nan
    number = float(match[0])
    if any(x in value for x in ['acres', 'acre','ac']):
        return number * 43560
    elif any(x in value for x in ['sqm','sq m']):
        return number * 10.7639
    elif any(x in value for x in ['sqft']):
        return number
    else:
        return np.nan  

normalized_df['subject.lot_size_sf_parsed'] = normalized_df['subject.lot_size_sf'].apply(parse_lot_size_sf)

print("\n After parsing site dimensions:")
print(normalized_df['subject.lot_size_sf_parsed'].unique())
normalized_df['subject.lot_size_sf_parsed'].describe()

print("\n Values that counlent be parsed")
print(normalized_df[normalized_df['subject.lot_size_sf_parsed'].isnull()]['subject.lot_size_sf_parsed'].unique())

 After parsing site dimensions:
[           nan 7.27450000e+04 2.01740000e+04 5.44500000e+04
 6.82500000e+03 3.69400000e+03 3.35800000e+03 5.90938110e+03
 4.24950000e+04 2.61900000e+03 2.67000000e+04 5.00000000e+00
 3.39430000e+04 5.98700000e+03 4.38082920e+05 1.74200000e+03
 3.25000000e+03 4.05799030e+03 4.63924090e+03 6.51215950e+03
 3.60100000e+03 3.55208700e+03 1.86800000e+03 6.73820140e+03
 8.19132790e+03 1.26000000e+04 3.25300000e+03 3.36610000e+04
 4.92986620e+03 3.73740000e+04 1.59360000e+04 3.13700000e+03
 6.30000000e+03 1.43750000e+04 3.50000000e+03 1.42320000e+04
 6.00000000e+03 9.11000000e+02 8.39800000e+03 6.45200000e+03
 7.54100000e+03 7.00000000e+00 1.05700000e+04 3.00000000e+00
 6.00000000e+00 2.89900000e+03 2.78000000e+03 5.31432000e+04
 7.05900000e+03 6.48000000e+03 4.47778240e+03 2.74479450e+03
 3.57361480e+03 4.10104590e+03 3.70278160e+03 2.17800000e+04
 1.00211909e+04 2.17800000e+05 2.30460000e+04 1.00000000e+01
 9.45070420e+03 7.52396610e+03 4.76800000e+03 4.91900000e+03
 6.24306200e+03 5.79100000e+03 3.62500000e+03 8.16980010e+03
 5.82326990e+03 4.35600000e+05 6.09840000e+05]

 Values that counlent be parsed
[nan]

In [28]:
normalized_df['subject.site_dimensions'].unique()

array(['Condo Common Property', 'See Schedule A and or Plot Map',
       "131' x 154'", '176.38 F x Irregular', 'CONDO - N/A',
       "26.36' x 140.17'", "42' x 84'", 'CONDO - NOT APPLICABLE',
       '14.30 m x 38.40 m', "24.96' x 104.92'", 'Unknown',
       "61.29' x Irregular", '50.00 x 119.75', "325.95' x IRR",
       '24.66 x 84.03', '13.25m x33.99m', 'See Plot Map', '605',
       '36.09 F x 99.74 F', 'Common Property', '330', '20.34 x 91.86',
       '19.55 x 39.58', 'Condominium property-as per deed', "34' x 102'",
       '36.09 Ft x 86.94 Ft', '13.18 F x Irregular',
       '41.39 F x Irregular', 'Condo n/a', "41.31' x Irr",
       "47.5' x 135.83'", 'n/a condo', "101.7' x 68.9'", '75 x irregular',
       "35.10' x 104.99'", "52' x 132'", '29.46 F x 98.42 F',
       '33.27x Irr', 'Condominium Property', "101.39' x 527'",
       '72.7 x Irregular', "54' x 120'", 'N/A Condominium',
       '13.72m x 29.87m', '7.72m x 33.0m', '10.36m x 31.99m',
       '11.71 m x 32.56 m', '9.7 m x 35.5 m', '176.54 F x Irregular',
       '18.70m x 50.0m', '5 Acres', '138 x 167',
       "60.51' x 142.74' - Irregular", '21.90 m x 40.08 m',
       '10.36m x 30.08m', '15.03 m x 35.00 m', '45.28 X 108.60',
       '15.23m x 38.07m', '44.0Ft x 131.0Ft', "31.53' x 115'",
       '10.05m x 45.23m', '14.32m x 37.80m', "830' x Irregular",
       "223.32' x 1966.85'", "1531.45' x Irregular"], dtype=object)

In [29]:
def parse_site_dimensions(dimension):
    if pd.isna(dimension):
        return np.nan
    dimension = str(dimension).strip().lower()
    if any(x in dimension for x in ['condo','common property', 'see','n/a','unknown','not applicable']):
        return np.nan
    try:
        if dimension.replace('.','',1).isdigit():
            return float(dimension)
        if 'acre' in dimension:
            acres = float(dimension.split()[0])
            return acres * 43560
        
        dims = dimension.replace("'",'').replace('"','').replace('ft','').replace('f','')
        dims = dims.replace('x',' ').replace('X',' ').replace('by',' ')
        dims = dims.replace('m','').replace('irregular','').replace('irr','')
        dims = dims.strip().split()
        if len(dims) >= 2:

            length = float(dims[0])
            width = float(dims[1])
            if any(x in dimension.lower() for x in ['m','metre', 'meter']):
                length = length * 3.28084
                width = width * 3.28084
            return length * width
    except:
        return np.nan

    return
normalized_df['subject.site_dimensions_parsed'] = normalized_df['subject.site_dimensions'].apply(parse_site_dimensions)

print("\n After parsing site dimensions:")
print(normalized_df['subject.site_dimensions_parsed'].unique())
normalized_df['subject.site_dimensions_parsed'].describe()

print("\n Values that counlent be parsed")
print(normalized_df[normalized_df['subject.site_dimensions_parsed'].isnull()]['subject.site_dimensions'].unique())

 After parsing site dimensions:
[           nan 2.01740000e+04 3.69488120e+03 3.52800000e+03
 5.91067887e+03 2.61880320e+03 5.98750000e+03 2.07217980e+03
 4.84771573e+03 6.05000000e+02 3.59961660e+03 3.30000000e+02
 1.86843240e+03 7.73789000e+02 3.46800000e+03 3.13766460e+03
 6.45192500e+03 7.00713000e+03 3.68514900e+03 6.86400000e+03
 2.89945320e+03 5.34325300e+04 6.48000000e+03 4.41122730e+03
 2.74221399e+03 3.56733667e+03 4.10403819e+03 3.70655279e+03
 1.00642569e+04 2.17800000e+05 2.30460000e+04 8.63719740e+03
 9.44804450e+03 3.35434470e+03 5.66235544e+03 4.91740800e+03
 6.24098132e+03 5.76400000e+03 3.62595000e+03 4.89285958e+03
 5.82646203e+03 4.39236942e+05]

 Values that counlent be parsed
['Condo Common Property' 'See Schedule A and or Plot Map'
 '176.38 F x Irregular' 'CONDO - N/A' 'CONDO - NOT APPLICABLE' 'Unknown'
 "61.29' x Irregular" "325.95' x IRR" 'See Plot Map' 'Common Property'
 'Condominium property-as per deed' '13.18 F x Irregular'
 '41.39 F x Irregular' 'Condo n/a' "41.31' x Irr" 'n/a condo'
 '75 x irregular' '33.27x Irr' 'Condominium Property' '72.7 x Irregular'
 'N/A Condominium' '176.54 F x Irregular' "830' x Irregular"
 "1531.45' x Irregular"]

In [30]:
normalized_df['subject.lot_size_sf'].unique()

array(['n/a', '72745+/-SqFt', '20174 SqFt', '1.25 Acres', 'N/A',
       '6825 SqFt', '3694 SqFt', '3358 SqFt', '549 SqM', '42495 SqFt',
       '2619 SqFt', '26700 SqFt', '5,663 SqFt', '33943+/-SqFt',
       '5987 SqFt', '10.057 Acres', '1742 SqFt', '3250 SqFt', '377 SqM',
       '431 SqM', '605 SqM', '3601 SqFt', '330 SqM', '1868 SqFt',
       '626 SqM', '761 SqM', 'SqFt', '12600 SqFt', 'N/A-CONDO LAND',
       '3253 SqFt', '33661 SqFt', '458 SqM', '37374 SqFt', '15936 SqFt',
       '3137 SqFt', '6300 SqFt', '14375 SqFt', '3500 SqFt', '14232 SqFt',
       '6000 SqFt', '911 SqFt', '8398 SqFt', '6452 SqFt', '7541 SqFt',
       '7,007 SqFt', '10570 SqFt', '3,685 SqFt', '6,864 SqFt',
       '2899 SqFt', '2780 SqFt', '1.22  Acres', '7059 SqFt', '6480 SqFt',
       'N/A Condominium', '416 SqM', '255 SqM', '332 SqM', '381 SqM',
       'n/a-condo land', '344 SqM', '0.5ac', '931 SqM', '5 Acres',
       '23046 SqFt', '10,014 SqFt', '878 SqM', '699 SqM', '4768 SqFt',
       '4919 sqft', '580 SqM', '5791 SqFt', '3625 SqFt', 'na', '759 SqM',
       '541 SqM', '10 Acres', '14 Acres'], dtype=object)

In [31]:
import re
def parse_lot_size_sf(lot_size):
    if pd.isna(lot_size):
        return np.nan
    lot_size = lot_size.lower().strip()
    if any(x in lot_size.lower() for x in ['n/a','na','nan']):
        return np.nan
    value = lot_size.replace('+/-','')
    match = re.search(r"([\d.]+)", value)
    if not match:
        return np.nan
    number = float(match[0])
    if any(x in value for x in ['acres', 'acre','ac']):
        return number * 43560
    elif any(x in value for x in ['sqm','sq m']):
        return number * 10.7639
    elif any(x in value for x in ['sqft']):
        return number
    else:
        return np.nan  

normalized_df['subject.lot_size_sf_parsed'] = normalized_df['subject.lot_size_sf'].apply(parse_lot_size_sf)

print("\n After parsing site dimensions:")
print(normalized_df['subject.lot_size_sf_parsed'].unique())
normalized_df['subject.lot_size_sf_parsed'].describe()

print("\n Values that counlent be parsed")
print(normalized_df[normalized_df['subject.lot_size_sf_parsed'].isnull()]['subject.lot_size_sf_parsed'].unique())

 After parsing site dimensions:
[           nan 7.27450000e+04 2.01740000e+04 5.44500000e+04
 6.82500000e+03 3.69400000e+03 3.35800000e+03 5.90938110e+03
 4.24950000e+04 2.61900000e+03 2.67000000e+04 5.00000000e+00
 3.39430000e+04 5.98700000e+03 4.38082920e+05 1.74200000e+03
 3.25000000e+03 4.05799030e+03 4.63924090e+03 6.51215950e+03
 3.60100000e+03 3.55208700e+03 1.86800000e+03 6.73820140e+03
 8.19132790e+03 1.26000000e+04 3.25300000e+03 3.36610000e+04
 4.92986620e+03 3.73740000e+04 1.59360000e+04 3.13700000e+03
 6.30000000e+03 1.43750000e+04 3.50000000e+03 1.42320000e+04
 6.00000000e+03 9.11000000e+02 8.39800000e+03 6.45200000e+03
 7.54100000e+03 7.00000000e+00 1.05700000e+04 3.00000000e+00
 6.00000000e+00 2.89900000e+03 2.78000000e+03 5.31432000e+04
 7.05900000e+03 6.48000000e+03 4.47778240e+03 2.74479450e+03
 3.57361480e+03 4.10104590e+03 3.70278160e+03 2.17800000e+04
 1.00211909e+04 2.17800000e+05 2.30460000e+04 1.00000000e+01
 9.45070420e+03 7.52396610e+03 4.76800000e+03 4.91900000e+03
 6.24306200e+03 5.79100000e+03 3.62500000e+03 8.16980010e+03
 5.82326990e+03 4.35600000e+05 6.09840000e+05]

 Values that counlent be parsed
[nan]

In [32]:
normalized_df = normalized_df.drop(columns=['subject.units_sq_ft'])

In [33]:
object_numeric_cols = ['subject.num_beds']
def object_to_numeric(df):
    for col in object_numeric_cols:
        try:
            df[col+"_parsed"] = pd.to_numeric(df[col], errors='ignore')
        except:
            pass
    return df

In [34]:
normalized_df['subject.main_lvl_area'].unique()

array(['522', '1060', '1660', '', '1530', '1074', '722', '1523', '1135',
       '2371.63', '809', '2740', '1,678', '950', '2149', '770', '677',
       '78', '1297', '802', '90', '1039', '111', '1094', '1176', '1005',
       '108', '1400', '864', '1217', '1968', '566', '894', '1021', '1109',
       '693', '1494', '694', '845', '1188', '1102', '858', '1171', '580',
       '1700', '1992', '1290', '758', '1149', '579', '567', '1269',
       '1675', '479', '1152', '1050', '953', nan, '621', '678', '665',
       '584', '1045.37', '1517', '2250', '627'], dtype=object)

In [35]:
def parse_lvl_area(value):
    if value == "":
        return np.nan
    if pd.isna(value): 
        return np.nan
    try:
        return float(value)
    except:
        return np.nan
normalized_df['subject.main_lvl_area_parsed'] = normalized_df['subject.main_lvl_area'].apply(parse_lvl_area)
normalized_df['subject.main_lvl_area_parsed'].describe()

count      66.000000
mean     1054.984848
std       536.865049
min        78.000000
25%       681.750000
50%      1042.185000
75%      1284.750000
max      2740.000000
Name: subject.main_lvl_area_parsed, dtype: float64

In [36]:
print(normalized_df['subject.second_lvl_area'].unique())
print(normalized_df['subject.second_lvl_area'].describe())

[ 522.    440.   1340.       nan  672.    880.   1321.    960.91  716.
  155.   1314.    770.    677.   1677.    778.    150.   1005.    138.
  578.   1169.    566.    894.    616.    693.   1261.    940.    325.
  652.    743.    630.    960.    656.    952.    793.    611.    934.
 2294.   1152.   1108.   1292.    830.    701.43  621.    627.  ]
count      43.000000
mean      839.868372
std       402.985942
min       138.000000
25%       624.000000
50%       770.000000
75%       982.955000
max      2294.000000
Name: subject.second_lvl_area, dtype: float64

In [37]:
print(normalized_df['subject.third_lvl_area'].isnull().sum())
normalized_df = normalized_df.drop(columns=['subject.third_lvl_area'])

87

In [42]:
normalized_df['subject.gla'].unique()

array(['1044', '1500 SqFt', '3000 SqFt', '1283 SqFt', '1530 SqFt',
       '1746 SqFt', '1602 SqFt', '1751 SqFt', '1523 SqFt', '2456 SqFt',
       '3332+/-SqFt', '1525 SqFt', '2895 SqFt', '1,678 SqFt', '2264 SqFt',
       '2530 SqFt', '2149 SqFt', '1840 SqFt', '1354 SqFt', '1573.40 SqFt',
       '78 SqM', '2974 SqFt', '2956 SqFt', '1109 SqFt', '1580 SqFt',
       '1587 SqFt', '90 SqM', '1039 SqFt', '261 SqM', '789 SqFt',
       '1094 SqFt', '1176 SqFt', '1334 SqFt', '2010 SqFt', '246 SqM',
       '1400 SqFt', '864 SqFt', '1774 SqFt', '1795 SqFt', '3137 SqFt',
       '1132 SqFt', '1788 SqFt', '1637 SqFt', '1822 SqFt', '1386 SqFt',
       '522 SqFt', '1607 SqFt', '2755 SqFt', '1634 SqFt', '1170 SqFt',
       '1,840 SqFt', '1845 SqFt', '1488 SqFt', '2131 SqFt', '1504 SqFt',
       '1643 SqFt', '1236 SqFt', '1700 SqFt', '1992 SqFt', '2242 SqFt',
       '758 SqFt', '2231.68 SqFt', '2115 SqFt', '1149 SqFt', '1372 SqFt',
       '1178 SqFt', '2203 SqFt', '1675 SqFt', '1952 SqFt', '2773 SqFt',
       '2304 SqFt', '1050 SqFt', '2061 SqFt', '3543.10 SqFt', '2352 SqFt',
       '2385 SqFt', '186 SqM', '1290 SqFt', '1451 SqFt', '678 SqFt',
       '665 sf', '584 sf', '1746.79 SqFt', '1144 SqFt', '2,138 SqFt',
       '2250 SqFt', '1254 SqFt'], dtype=object)

In [65]:
def parse_gla(value):
    if pd.isna(value):
        return np.nan
    value = str(value).strip().lower()
    if value.replace('.','',1).isdigit():
        
        return float(value)
    value = value.replace('+/-','')
    match = re.search(r"([\d.]+)", value)
    if not match:
        return np.nan
    number = float(match[0]) 
    if any(x in value for x in ['sqm']):
        return number * 10.7639
    elif any(x in value for x in ['sqft', 'sf']):
        return number
    else:
        return np.nan
    

normalized_df['subject.gla_parsed'] = normalized_df['subject.gla'].apply(parse_gla)

print("\n After parsing gla:")
print(normalized_df['subject.gla_parsed'].unique())
normalized_df['subject.gla_parsed'].describe()

 After parsing gla:
[1.0440000e+03 1.5000000e+03 3.0000000e+03 1.2830000e+03 1.5300000e+03
 1.7460000e+03 1.6020000e+03 1.7510000e+03 1.5230000e+03 2.4560000e+03
 3.3320000e+03 1.5250000e+03 2.8950000e+03 1.0000000e+00 2.2640000e+03
 2.5300000e+03 2.1490000e+03 1.8400000e+03 1.3540000e+03 1.5734000e+03
 8.3958420e+02 2.9740000e+03 2.9560000e+03 1.1090000e+03 1.5800000e+03
 1.5870000e+03 9.6875100e+02 1.0390000e+03 2.8093779e+03 7.8900000e+02
 1.0940000e+03 1.1760000e+03 1.3340000e+03 2.0100000e+03 2.6479194e+03
 1.4000000e+03 8.6400000e+02 1.7740000e+03 1.7950000e+03 3.1370000e+03
 1.1320000e+03 1.7880000e+03 1.6370000e+03 1.8220000e+03 1.3860000e+03
 5.2200000e+02 1.6070000e+03 2.7550000e+03 1.6340000e+03 1.1700000e+03
 1.8450000e+03 1.4880000e+03 2.1310000e+03 1.5040000e+03 1.6430000e+03
 1.2360000e+03 1.7000000e+03 1.9920000e+03 2.2420000e+03 7.5800000e+02
 2.2316800e+03 2.1150000e+03 1.1490000e+03 1.3720000e+03 1.1780000e+03
 2.2030000e+03 1.6750000e+03 1.9520000e+03 2.7730000e+03 2.3040000e+03
 1.0500000e+03 2.0610000e+03 3.5431000e+03 2.3520000e+03 2.3850000e+03
 2.0020854e+03 1.2900000e+03 1.4510000e+03 6.7800000e+02 6.6500000e+02
 5.8400000e+02 1.7467900e+03 1.1440000e+03 2.0000000e+00 2.2500000e+03
 1.2540000e+03]

count      88.000000
mean     1673.803272
std       732.880281
min         1.000000
25%      1174.500000
50%      1604.500000
75%      2135.500000
max      3543.100000
Name: subject.gla_parsed, dtype: float64

In [74]:
normalized_df['subject.subject_age'].unique()
# print(normalized_df['subject.subject_age'].isnull().sum())

array(['49', '14+/-yrs', '42', '2012 +/-', '47+/-yrs', '40+/-', '84',
       '2021', '19', '2019', '1', '25', '43+/-yrs', '15', '2002', '57',
       '135', '32', '2016', '1952', '7', '2024', '8', '1951', '2008',
       '2013', '2017', '17', '21', '2003', 'New', '53', '2000 +/-', '74',
       '180', '30', '22', '49+/-yrs', '1990 +/-', '1961', '1970', '1910',
       '85', '36', '140', '12', '125', '2016 +/-', '2025', '51', '2022',
       '2021 +/-', '35', '2015', '2004', '1998', '50', '2007', '1950',
       '1988', '10', '4', '1981', '33', '26', '1979', '48', '105'],
      dtype=object)

In [78]:
def parse_age(value):
    if pd.isna(value):
        return np.nan
    if value == "New":
        # considering "New" as minimum value in the age column
        return 4
    value = str(value).strip().lower()
    if value.replace('.','',1).isdigit():
        return float(value)
    match = re.search(r"([\d.]+)", value)
    if not match:
        return np.nan
    number = float(match[0]) 
    return number

normalized_df['subject.subject_age_parsed'] = normalized_df['subject.subject_age'].apply(parse_age)

print("\n After parsing age:")
print(normalized_df['subject.subject_age_parsed'].unique())
normalized_df['subject.subject_age_parsed'].describe()

print("\n Values that counlent be parsed")
print(normalized_df[normalized_df['subject.subject_age_parsed'].isnull()]['subject.subject_age'].unique())

 After parsing age:
[4.900e+01 1.400e+01 4.200e+01 2.012e+03 4.700e+01 4.000e+01 8.400e+01
 2.021e+03 1.900e+01 2.019e+03 1.000e+00 2.500e+01 4.300e+01 1.500e+01
 2.002e+03 5.700e+01 1.350e+02 3.200e+01 2.016e+03 1.952e+03 7.000e+00
 2.024e+03 8.000e+00 1.951e+03 2.008e+03 2.013e+03 2.017e+03 1.700e+01
 2.100e+01 2.003e+03 4.000e+00 5.300e+01 2.000e+03 7.400e+01 1.800e+02
 3.000e+01 2.200e+01 1.990e+03 1.961e+03 1.970e+03 1.910e+03 8.500e+01
 3.600e+01 1.400e+02 1.200e+01 1.250e+02 2.025e+03 5.100e+01 2.022e+03
 3.500e+01 2.015e+03 2.004e+03 1.998e+03 5.000e+01 2.007e+03 1.950e+03
 1.988e+03 1.000e+01 1.981e+03 3.300e+01 2.600e+01 1.979e+03 4.800e+01
 1.050e+02]

 Values that counlent be parsed
[]

In [80]:
normalized_df['subject.num_baths'].unique()

array(['1:1', '2:1', '3:0', '2:0', '2F 1H', '3:1', '2:2', '1:0', '2F',
       '2 Full/1Half', '3F 1H', '3F', '4F', '3:2', '1F', '2', nan,
       '1F 1H'], dtype=object)

In [88]:
def parse_num_baths(value):
    if pd.isna(value):
        return np.nan
    value = str(value).strip().lower()
    if value.isdigit():
        return float(value)
    full = 0
    half = 0
    if ':' in value:
        parts = value.split(':') 
        full = float(parts[0])
        half = float(parts[1]) if len(parts) > 1 else 0
    elif 'f' in value or 'h' in value:
        full_match = re.search(r'(\d+)f', value)
        if full_match:
            full = float(full_match.group(1))
        half_match = re.search(r'(\d+)h', value)
        if half_match:
            half = float(half_match.group(1))
    elif 'full' in value or 'half' in value:
        full_match = re.search(r'(\d+)full', value)
        if full_match:
            full = float(full_match.group(1))
        half_match = re.search(r'(\d+)half', value)
        if half_match:
            half = float(half_match.group(1))
    return full + (0.5 * half)
    
normalized_df['subject.num_baths_parsed'] = normalized_df['subject.num_baths'].apply(parse_num_baths)

print("\n After parsing num_baths:")
print(normalized_df['subject.num_baths_parsed'].unique())
normalized_df['subject.num_baths_parsed'].describe()

print("\n Values that counlent be parsed")
print(normalized_df[normalized_df['subject.num_baths_parsed'].isnull()]['subject.num_baths'].unique())

 After parsing num_baths:
[1.5 2.5 3.  2.  3.5 1.  0.5 4.  nan]

 Values that counlent be parsed
[nan]

In [113]:
print(normalized_df['subject.structure_type'].unique())
# normalized_df['subject.structure_type'].describe()
print(normalized_df['subject.structure_type'].isnull().sum())

['Townhouse' 'Detached' 'Condominium' 'Semi Detached'
 'High Rise Apartment' 'Low Rise Apartment' 'Duplex' 'Triplex' nan
 'Fourplex']
1

In [117]:
print(normalized_df['subject.remaining_economic_life'].unique())
# normalized_df['subject.structure_type'].describe()
print(normalized_df['subject.remaining_economic_life'].isnull().sum())

['50' '65' '60' '55' '48' '45' '78' '59' '40' '54' '63' '64' '35' '52'
 '46' '70' '77' '66' nan '72' '70+']
1

In [128]:
def parse_remaining_economic_life(value):
    if pd.isna(value):
        return np.nan
    value = str(value).strip().lower()
    match = re.search(r"([\d.]+)", value)
    if not match:
        return np.nan   
    number = float(match[0])
    return number 
    
normalized_df['subject.remaining_economic_life_parsed'] = normalized_df['subject.remaining_economic_life'].apply(parse_remaining_economic_life)

print("\n After parsing remaining_economic_life_parsed:")
print(normalized_df['subject.remaining_economic_life_parsed'].unique())
normalized_df['subject.remaining_economic_life_parsed'].describe()

print("\n Values that counlent be parsed")
print(normalized_df[normalized_df['subject.remaining_economic_life_parsed'].isnull()]['subject.remaining_economic_life'].unique())

 After parsing remaining_economic_life_parsed:
[50. 65. 60. 55. 48. 45. 78. 59. 40. 54. 63. 64. 35. 52. 46. 70. 77. 66.
 nan 72.]

 Values that counlent be parsed
[nan]

In [ ]:
print(normalized_df['subject.basement_area'].unique())

['522' '1060' '1660' '1283' '' '728' '722' '575 +/-' '1135' '2137' '809'
 '1000+/-' '1,678' '819' '1200 +/-' '2149' '500' '677' '800' '71' '1285'
 '978 +/-' 'n/a' '802' '650 +/-' '83' '102' '1094' 'None' '1050±' '1005'
 '0' '1232' '864' '800 +/-' '845+/-' 'N/A' '894' '1021' '600 +/-' '1109'
 '693' '700 +/-' '1261' '694' '735' '536' '887' '960' '700' '382' '1700'
 '1992' '952' '1000' '850' '543' '567' '1269' '750' '1695' '1152' '1050'
 '620' '1500' '950+/-' nan '186' '857' '621' '1850' '627']

In [137]:
def parse_basement_area(value):
    if pd.isna(value):
        return np.nan
    value = str(value).strip().lower()
    if value == "" or value in ['n/a','na','nan','none']:
        return np.nan
    match = re.search(r"([\d.]+)", value)
    if not match:
        return np.nan   
    number = float(match[0])
    return number 
    
normalized_df['subject.basement_area_parsed'] = normalized_df['subject.basement_area'].apply(parse_basement_area)

print("\n After parsing basement_area_parsed:")
print(normalized_df['subject.basement_area_parsed'].unique())
normalized_df['subject.basement_area_parsed'].describe()

print("\n Values that counlent be parsed")
print(normalized_df[normalized_df['subject.basement_area_parsed'].isnull()]['subject.basement_area'].unique())

 After parsing basement_area_parsed:
[5.220e+02 1.060e+03 1.660e+03 1.283e+03       nan 7.280e+02 7.220e+02
 5.750e+02 1.135e+03 2.137e+03 8.090e+02 1.000e+03 1.000e+00 8.190e+02
 1.200e+03 2.149e+03 5.000e+02 6.770e+02 8.000e+02 7.100e+01 1.285e+03
 9.780e+02 8.020e+02 6.500e+02 8.300e+01 1.020e+02 1.094e+03 1.050e+03
 1.005e+03 0.000e+00 1.232e+03 8.640e+02 8.450e+02 8.940e+02 1.021e+03
 6.000e+02 1.109e+03 6.930e+02 7.000e+02 1.261e+03 6.940e+02 7.350e+02
 5.360e+02 8.870e+02 9.600e+02 3.820e+02 1.700e+03 1.992e+03 9.520e+02
 8.500e+02 5.430e+02 5.670e+02 1.269e+03 7.500e+02 1.695e+03 1.152e+03
 6.200e+02 1.500e+03 9.500e+02 1.860e+02 8.570e+02 6.210e+02 1.850e+03
 6.270e+02]

 Values that counlent be parsed
['' 'n/a' 'None' 'N/A' nan]

In [138]:
normalized_df.describe()

,orderID,subject.room_count,subject.room_total,subject.second_lvl_area,subject.third_lvl_area,subject.remaining_economic_life_parsed,subject.basement_area_parsed
count,8.800000e+01,87.000000,87.000000,43.000000,1.0,87.000000,77.000000
mean,4.765229e+06,7.080460,7.172414,839.868372,300.0,55.057471,854.428571
std,8.840239e+03,1.918202,1.989548,402.985942,NaN,10.046816,481.362716
min,4.723364e+06,4.000000,4.000000,138.000000,300.0,35.000000,0.000000
25%,4.759562e+06,6.000000,6.000000,624.000000,300.0,48.000000,621.000000
50%,4.763752e+06,7.000000,7.000000,770.000000,300.0,55.000000,819.000000
75%,4.771735e+06,8.000000,8.000000,982.955000,300.0,61.500000,1050.000000
max,4.779669e+06,15.000000,15.000000,2294.000000,300.0,78.000000,2149.000000